# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
.venv-py*/
venv/
env/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
